<div id="gallery">
        <div id="panel">
            <img id="largeImage" src="img/{{imagen}}" />
            <div id="precio">{{precio}}</div> 
        </div>
        <div id="description">{{nomplato}}</div>

        <div id="thumbs">
            <ul>
            {{#.}}
                <li class="topcoat-list__item">
                    <p>{{nombre}}</p>
                    <img src="img/{{imagen}}"> 
                    <p>{{nomplato}} <span> {{precio}} € </p>                   
                </li>
            {{/.}}
            </ul>
        </div>
    </div>