   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center quarter">
            {{#.}}
            <h1 class="topcoat-navigation-bar__title">{{nomcateg}}</h1>
            {{/.}}
        </div>
       <div class="topcoat-navigation-bar__item center quarter idiomas">
            <img id="1" src="img/es.png" alt="Menus"/>
            <img id="2" src="img/ukp.png" alt="Menu"/>
            <img id="3" src="img/fr.png" alt="Menus"/>
            <img id="4" src="img/it.png" alt="Menus"/>
        </div>
       <div class="topcoat-navigation-bar__item center">
            <img src="img/logo2.png"/>
        </div>
    </div>
    </div>
<div class="scroller">
    <div class="topcoat-list">
        <ul class="topcoat-list__container list" >
            {{#.}}
             <li class="topcoat-list__item">
                 <a href="#menu/{{id}}">
                     <img src="img/raciones/{{imagen}}">
                     <p><span class="nomplato">{{nomplato}}</span> <span class="precio"> {{precio}} € </span>
                         <span class="chevron2"></span></p> 
                 </a>
              </li>
            {{/.}}
      </ul>
    </div>
    <footer>
     <h3>Copyright @Restaurante Antonio 2015</h3>
    </footer>
</div>