<div class="topcoat-navigation-bar fijo">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center quarter">
            {{#.}}
            <h1 class="topcoat-navigation-bar__title" id="categ">{{nomcateg}}</h1><span id="numcateg">{{cid}}</span>
            {{/.}}
        </div>
       <div class="topcoat-navigation-bar__item center quarter idiomas">
            <img class="flag" id="1" src="img/es.png" alt=""/>
            <img class="flag" id="2" src="img/ukp.png" alt=""/>
            <img class="flag" id="3" src="img/fr.png" alt=""/>
            <img class="flag" id="4" src="img/it.png" alt=""/>
        </div>
       <div class="topcoat-navigation-bar__item center ">
            <img src="img/logo2.png"/>
        </div>
</div>
<div class="scroller">
    <div class="verplatos">
        <div class="platoG"> 
            {{#.}}
                <img class="platogrande" id="fotoplato" src="img/{{imagen}}"/>
                <span class="precio" id="precioplato">{{precio}} €</span>
                <p id="textoplato">{{nomplato}}</p>
                {{#if alergenos}}
                    <span id="ale"><img id="alergenos" src="img/{{alergenos}}"/></span>
                {{/if}}
            {{/.}}

        </div>
        <div class="listaplatos">

            {{#.}}
              <div class="plato2">
                 <img class="platoP" src="img/{{imagen}}" alt="{{nomplato}}" />
                  <span class="precio3"> {{precio}} €</span>
                 {{#if alergenos}}
                    <img id="alerg" src="img/{{alergenos}}"/>
                 {{/if}}
                 <br/>
                <span class="nomplato2">{{nombre}}</span>
              </div>
            {{/.}}

        </div>

    </div>
    <footer>
     <h3>Copyright @Restaurante Antonio 2015</h3>
    </footer>
</div>