   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="#">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            {{#.}}
            <h1 class="topcoat-navigation-bar__title">{{nomcateg}}</h1><span>
            {{/.}}
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <img src="img/logo2.png"/></span>
        </div>
    </div>
<div>
    <div class="listaplatos">
        {{#.}}
          <div class="plato2">
                 <img src="img/{{imagen}}"/>
          </div>
        {{/.}}
    </div>
    <div class="topcoat-list platoG">
        <ul class="topcoat-list__container list2">
        {{#.}}
          <li>
            <p>{{nombre}} <span class="precio"> {{precio}} €</span></p>
             <img class="platogrande" src="img/{{imagen}}"/><br/>
              <div class="titulo">
                <p>{{nomplato}}</p>
              </div>
          </li>
        {{/.}}
        </ul>
    </div>
</div>
<footer>
 <h3>Copyright @Restaurante Antonio 2015</h3>
</footer>