   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="#">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">{{nomcateg}}</h1>
        </div>
    </div>
    <div id="gallery">
        <div id="panel">
            <img id="largeImage" src="img/{{imagen}}" />
            <div id="precio">{{precio}}</div> 
        </div>
        <div id="description">{{nomplato}}</div>

        <div id="thumbs">
            <ul>
            {{#.}}
                <li class="topcoat-list__item">                    
                    <img src="img/{{imagen}}"> 
                    <p>{{nomplato}} <span> {{precio}} </span><span>{{imagen}}</span></p>
                   
                </li>
            {{/.}}
            </ul>
        </div>
    </div>
    